@charset "UTF-8";
.view-detail:hover, .page-link:hover{
	cursor: pointer;
}

#title{
	display: flex;
	vertical-align: center;
	height: 100%;
}

#selectBox{
	display: flex;
	flex-direction: column-reverse;
}

#selectBox #order-by{
	margin-bottom: 0px !important;
}