@charset "UTF-8";
.view-detail:hover, .page-link:hover{
	cursor: pointer;
}

.rigth-btn{
	width: 100px;
}

.right-input{
	width : 90%
}

.order-by:hover {
	cursor: pointer;
}

.page-link{
	width: 35px;
	height: 35px;
}