@charset "UTF-8";

.form-label{
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}

#write-top{
	padding-bottom: 0px;
}

#write-bottom{
	padding-top: 0px;
	display: flex; 
	justify-content: flex-end;
}

#write-content{
	padding-top: 0px;
}

.cursor-default:hover, .cursor-default *:hover{
	cursor: default;
}

#write-btn, #update-btn, #cancel-btn{
	height: 40px;
}

.remove-btn:hover{
	cursor: pointer;
}

.ck-content {
	height: 450px;
}

.ck-editor__editable {
    max-height: 450px;
}