@charset "UTF-8";

.menu .navbar-menu{
	max-height: 500px !important;
	padding : 0 !important;
}
#sidebarCenter{
	margin-bottom: calc(var(--tb-gutter-x) * .5) !important;
}

.page-content{
	width: 1280px;
	margin: 0 auto;
}